<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pratice.eurekaclient.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.pratice.eurekaclient.Entity.UserEntity">
        <result column="user_id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="user_password" property="password"/>
        <result column="user_safe_id" property="userSafeId"/>
        <result column="is_delete" property="isDeleteFlg"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dtm" property="createDtm"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_dtm" property="updateDtm"/>
    </resultMap>
    <sql id="Base_Column_List">
		user_name,
		user_password,
		user_safe_id,
		is_delete,
		create_user,
		create_dtm,
		update_user,
		update_dtm
	</sql>

	<!-- 注冊用戶 -->
	<insert id="reigst">
		INSERT INTO ath_user
		 (
		<include refid="Base_Column_List"></include>
		 )
		 VALUES(
		 #{userName},
		 #{password},
		 #{userSafeId},
		 #{isDeleteFlg},
		 #{createUser},
		 str_to_date(#{createDtm},'%Y/%m/%d %H:%i:%s'),
		 #{updateUser},
		 str_to_date(#{updateDtm},'%Y/%m/%d %H:%i:%s')
		 )
	</insert>


	<!-- 獲取用戶信息-->
	<select id="getPwdByUserName" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"></include>
		FROM ath_user
		WHERE
		 user_name = #{userName}
	</select>


</mapper>
